
@{
    ViewBag.Title = "Index";
}

<div class="container-report">
    <div class="report-menu">
        <a href="#" class="active">Relatórios</a>
        @Html.ActionLink("Alunos", "ReportAluno", "Report")
        @Html.ActionLink("Alunos por Cidade", "ReportAlunoCidade", "Report")
        @Html.ActionLink("Cidades", "ReportCidade", "Report")
        
    </div>
    <div class="report-menu">
        @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "active" })
    </div>

     
</div>
