* {
    box-sizing: border-box;
}

/*input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;*/
/*margin: 8px 0;*/
/*display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}*/

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 600px;
    color: #0076a3;

}

.container-login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 350px;
    color: #0076a3;

}

.container-error-summary {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 1px;
    padding-right: 10px
}

.column-1 {
    float: left;
    width: 100%;
    padding: 1px;
    padding-right: 10px
}

.btn-custom {
    background-color: #4CAF50 !important;
    color: white !important;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Inicio do configuracao do cabeçalho da pagina*/
.content {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    padding: 20px 40px 30px 40px;
    border-radius: 0px 0px 15px 15px;
}

hgroup.titulo {
    margin-bottom: 10px;
}

hgroup.titulo h1, hgroup.titulo h2 {
    display: inline;
    color: white;
}

hgroup.titulo h2 {
    font-weight: normal;
    margin-left: 3px;
}


.menu-opcoes {
    float: right;
}

ul.menu {
    list-style: none;
    padding-left: 0;
}

/*ul.menu li {
    margin: 15px;
    padding-left: 45px;
    height: 30px; 
    padding-top: 5px;
}*/

/*ul.menu li.contact {
    background: url("268.png")no-repeat;
    text-decoration: none;
}*/

ul.menu li.contact a {
    text-decoration: none;
}

#nav { /*configuração do tamanho da div de navegação*/
    width: 900px; /*largural*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#nav li { /*Formata a lista*/
    list-style: none; /*remova o estilo de listagem*/
    float: left;
    height: 40px; /*altura de cada item*/
    background-color: #7ac0da; /*cor de fundo de cada item*/
    border-radius: 9px;
    text-align: center;
    display: inline;

    width: 170px;
}

#nav li:hover {
    background-color: #ccc;
}

#nav a { /*formatação de cada link ou tag <a>*/
    text-decoration: none;
    display: block;
    height: 30px;
    font-size: 18px;

}

.logout {
    padding-left: 20px;
}

/*fim do configuracao do cabeçalho da pagina*/

/*Configuração Menu Relatoriio*/
.container-report {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    height: 100%;
    width: 600px;
    color: #0076a3;
}

.report-menu {
    width: 200px;
}

.report-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.report-menu a:hover {
    background-color: #ccc;
}

.report-menu a.active {
    background-color: #7ac0da;
    color: white;
}

.success {
    background-color: #4CAF50;
}

/* Green */
.success:hover {
    background-color: #46a049;
}


/*Estilizando Web Grid*/
.web-grid {
    border: solid 1px black;
    border-collapse: collapse;
    display: table;
    margin-top: 20px;
    width: 100%;
}

.web-grid td, th {
    border: 1px solid black;
}


.webgrid-table {
    border: solid 1px;
    border-collapse: collapse;
    display: table;
    margin-left: 50px;
    margin-top: 20px;

}

.webgrid-table td, th {
    border: 1px solid;
}

/*.row {

    display: initial !important;

}*/
.container-page {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

label {

    margin-bottom: initial !important;
}

.input-group {
    margin-top: 0.8rem;
    flex-wrap: initial !important;
    border: 1px solid #078ec2;
    display: flex;
    justify-content: center;
    background-color: #078ec2;;
}

.card input {
    /*    width: 300px;
        height: 30px;
        color: #666666;*/
    margin-top: initial !important;
    margin-bottom: initial !important;
    border: initial !important;
    font-family: "Times New Roman", monospace;
    font-size: 14px;
}

.btn-login-acessar {

}

.input-group-cad {
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-group-addon {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: black;
}

.input-login {
    padding-left: 0.5rem;
}

.btn-form-acao {
    width: 10rem !important;
}

/*custom datatable*/
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
    font-size: small;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    font-size: small;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    background: linear-gradient(rgb(179, 201, 207) 0%, rgb(127, 152, 160) 100%);
}

div.dt-container .dt-paging .dt-paging-button:active {
    box-shadow: inset 0 0 2rem #5f5e5e;
}


/*fim custom datatable*/

.col-row{
    padding: initial !important;
}
/*custom tamanho */
.tam-with-100{
    width: 100% !important;
}
.tam-with-90{
    width: 90% !important;
}
.tam-with-80{
    width: 80% !important;
}
.tam-with-70{
    width: 70% !important;
}
.tam-with-60{
    width: 60% !important;
}
.tam-with-55{
    width: 55% !important;
}
.tam-with-50{
    width: 50% !important;
}
.tam-with-45{
    width: 45% !important;
}
.tam-with-40{
    width: 40% !important;
}
.tam-with-30{
    width: 30% !important;
}
.tam-with-20{
    width: 20% !important;
}
.tam-with-10{
    width: 10% !important;
}
.tam-mt-10{
    margin-top: 10px !important;
}
.tam-mb-10{
    margin-bottom: 10px !important;
}