@model IEnumerable<Cadastro.Dominio.Cidade>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model, canPage: true, defaultSort: "CodigoCidade", rowsPerPage: 5, canSort: true);
}



<div class="container">

    <div class="row">
        <div class="column">
            <div class="campo">
                @Html.ActionLink("Nova Cidade", "CadastrarCidade", "Cidade", null, new { @class = "btn" })
            </div>
        </div>
        <div class="column">
            <div class="campo">
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn" })
            </div>
        </div>
    </div>

    @grid.GetHtml(
    tableStyle: "web-grid",
    htmlAttributes: new { id = "checkableGrid" },
    fillEmptyRows: true,
    alternatingRowStyle: "alt",
    headerStyle: "grid-header",
    footerStyle: "foot",
    mode: WebGridPagerModes.All,
    firstText: "<< Primeiro",
    previousText: "< Anterior",
    nextText: "Próximo >",
    lastText: "Ultimo >>",
    caption: "Lista de Cidades",
    emptyRowCellValue: null,
    columns: new[]
    {
       grid.Column("CodigoCidade",header:"Id", style:"text-align-left"),
       grid.Column("NomeCidade",header:"Cidade"),
       grid.Column("Uf",header:"UF"),
       grid.Column("Cep",header:"Cep"),
       grid.Column("",header:"Ações", format:@<text>@Html.ActionLink("Editar","AtualizaCidade", new {id=item.CodigoCidade}) </text>)

    }

    )



</div>
