@model IEnumerable<Cadastro.Dominio.Cidade>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "CodigoCidade", rowsPerPage: 5, canSort: true);
}



<div class="container-page">

    <div class="row">
        <div class="col-3 tam-mt-10 tam-mb-10">
            @Html.ActionLink("Nova Cidade", "CadastrarCidade", "Cidade", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-success tam-with-45" })
            
            <button type="button" onclick="ConfigCidade.ImprimirPdf()">Imprimir</button>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <section id="datatable" class="w-100 p-2 shadow bg-white d-block border mb-3 rounded-lg">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="table-responsive mb-2">
                            <table id="tabelacidades"
                                   class="table table-bordered table-striped display compact hover w-100 m-0"></table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="tituloModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Tem certeza que deseja realizar essa ação?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Não
                </button>

                <button type="button" class="btn btn-primary" id="btnConfirmar">
                    Sim
                </button>
            </div>

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/cidades")

    <script type="text/javascript">
        ConfigCidade.ConfigurarListar();
    </script>

}

